
/* GENERAL */

html{
	height: 100vh;
	height: 100%;
}

body {
	background-color: #363636;
	color: #000000;
	
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	font-size: 90%;
	min-height: 100%;
}


a:link {
	color: #000000;
	text-decoration: underline dotted;
}
a:visited {
	color: #000000;
	text-decoration: underline dotted;
}
a:hover {
	color: #000000;
	text-decoration: underline dotted;
}
a:active {
	color: #000000;
	text-decoration: underline dotted;
}

ul{
	list-style-type: square;
	list-style-position: inside;
}

li{
	text-indent: -1em;
	padding-left: 1em;
}

hr {
	border: 3px solid white;
}

h1 {
	font-size: 180%;
	font-style: bold;
}



/* SITE */

#loader {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 200px;
	margin-top: -50px;
	margin-left: -100px;
	visibility: hidden;
	font-weight: bold;
	text-align: center;
	padding: 15px;
	background-color: white;
	border-radius: 3px;

	-webkit-box-shadow: 0px 0px 10px -3px black;
	-moz-box-shadow: 0px 0px 10px -3px black;
	box-shadow: 0px 0px 10px -3px black;

	z-index: 1000;
}

#siteFrame {
	position: relative;
    min-height: 100%;
	width: 100%;
}


#title{
	margin-top: 20px;
	color: #FFFFFF;
}


#searchForm{
	width: 100%;
	text-align: right;
	line-height: 20px;
}


#searchForm input{
	border-radius: 3px;
	border-style: none;
	height: 20px;
}


input.btn {
	background: #787878;
	color: white;
	font-size: 100%;
	width: 80px;
}


#pageContent{
	min-height: 100%;
	
	margin-top: 20px;
	padding-top: 25px;
	padding-bottom: 20px;

	background-color: #FFFFFF;
	border-radius: 3px;

	-webkit-box-shadow: 0px 0px 10px -3px black;
	-moz-box-shadow: 0px 0px 10px -3px black;
	box-shadow: 0px 0px 10px -3px black;
}


/* MODULES */

.bigger {font-size: 100%;}
.smaller{font-size: 90%;}
.bold {font-weight: bold;}
.pale {color: #666655;}
.textCenter{text-align: center;}
.center{margin-left: auto; margin-right: auto;}
.bottomGap10{margin-bottom: 10px;}
.bottomGap20{margin-bottom: 20px;}
.bottomGap20{margin-bottom: 20px;}


/* DEV */

.column, .columns {
	/*background-color: rgba(0,0,0,0.1);*/
}